version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      dev-dependencies:
        patterns:
          - "black"
          - "ruff"
          - "docformatter"
          - "pre-commit*"
      test-dependencies:
        patterns:
          - "pytest*"
          - "coverage"
      production-dependencies:
        patterns:
          - "django*"
          - "djangorestframework*"
          - "social-auth*"
      
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      github-actions:
        patterns:
          - "*"