sudo: false

language: python
python:
  - "3.5"
  - "3.6"
  - "3.7"

env:
  - DJANGO=1.11
  - DJANGO=2.0
  - DJANGO=2.1

matrix:
  fast_finish: true
  include:
    - python: "2.7"
      env: DJANGO=1.11
    - python: "3.4"
      env: DJANGO=1.11
  exclude:
    - python: "3.7"
      env: DJANGO=1.11

install:
  - travis_retry pip install -U tox-travis

script:
  - tox

after_success:
  - travis_retry pip install -U codecov
  - codecov
