[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

djet = "*"
coverage = "*"
pytest = "*"
"pytest-cov" = "*"
"pytest-django" = "*"
"flake8" = "*"
twine = "*"
wheel = "*"
Sphinx = "*"
"sphinx_rtd_theme" = "*"
ipython = "*"
ipdb = "*"

[packages]

djangorestframework = "*"
"djangorestframework-jwt" = "*"
Django = "*"
"django-templated-mail" = "*"
"social-auth-core" = "*"
"social-auth-app-django" = "*"