[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
djangorestframework = "*"
Django = "*"
djet = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
flake8 = "*"
