-e .
django-templated-mail==1.1.1
djangorestframework-simplejwt==4.3.0
djet==0.2.2
social-auth-app-django==4.0.0
coverage==5.2.1
coreapi

pytest==6.0.1
pytest-cov==2.10.1
pytest-django==3.9.0
pytest-pythonpath==0.7.3
