{% load i18n %}{% autoescape off %}
<html>
<body>
{% blocktrans %}<p>
You're receiving this email because you need to finish activation process on {{ site_name }}.
</p>{% endblocktrans %}

<p>{% trans "Please go to the following page to activate account:" %}</p>
<p>{% block reset_link %}</p>
<p><a href="{{ protocol }}://{{ domain }}/{{ url }}">{{ protocol }}://{{ domain }}/{{ url }}</a></p>
{% endblock %}

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>

{% endautoescape %}
</body>
</html>