name: Publish to PyPi

on:
  release:
    types:
      - released
  workflow_dispatch:

jobs:
  publish:
    strategy:
      fail-fast: true
      matrix:
        python-version: [ 3.8 ]
        poetry-version: [ 1.3.2 ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # small repo so no biggie
          fetch-tags: true
      - name: Echo Git Tag
        run: |
          echo "Git tag: $(git describe --tags)"
      - name: Set up Python
        uses: actions/setup-python@v4.6.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Build and publish
        run: |
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}

#          alternative for the next release. Before, set version in pyproject to 0.0.0
#          upload to test pypi first
#          TAG=$(git describe --tags)
#          VERSION=${TAG#v}  # Remove "v" prefix if present
#          poetry version $VERSION

          poetry publish --build --no-interaction
